* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(52, 52, 52);
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    color: teal;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    background-color: pink;
    margin-bottom: 32px;
    min-height: 350px;
    padding: 32px;
}

section img {
    max-width: 100%;
}

.foto {
    border: 2px solid #323232;
    border-radius: 8px;
}

footer {
    background-color: #323232;
}

footer p {
    color: whitesmoke;
}

.menu-item:hover {
    background-color: #323232;
    border-radius: 10px;
}

.menu-item:hover img {
    width: 70px;
    height: auto;
}

.text-violeta {
    color: blueviolet;
}

p {
    color: #323232;
}

